body {
    background-color: darksalmon; text-align: justify;    
    }
    
    h1 {
        color: crimson; text-align: center;
    }
    
    h2 { color: darkmagenta; text-align: right;
    }
    
    p {
        text-align: 45px; color: black;
    }

    #imagem1 `{
        background-color: red;
    }